<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StrConnMdl" providerName="Oracle.DataAccess.Client"
         connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.29) (PORT = 1521)) (CONNECT_DATA = (SERVER = DEDI-CATED) (SERVICE_NAME = XE)));User Id={0};Password={1};" />
  </connectionStrings>
  <appSettings>
    <add key="TitreApplication" value="Maison des Ligues"/>
  </appSettings>
</configuration>